
# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-start*.log
expo-env.d.ts
expo-dev.*.log

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store

# local environment overrides
.env*.local

# teaching materials
docs/
